@model IEnumerable<InventoryManagement.Models.Product>

@{
    ViewBag.Title = "Product List";
}
@section Styles{
    <style type="text/css">
        tr td, tr > th{
            border: 1px solid black !important;
        }

        .btn-warning {
            background-color: rgba(0, 0, 0, 0.1);
        }
        .btn-danger {
            background-color: rgba(0, 0, 0, 0.1);
        }
        .btn-info {
            background-color: rgba(0, 0, 0, 0.1) ;
        }

        tr:nth-child(odd) {
            background-color: rgba(0, 0, 0, 0.4);
            color: rgba(255,255,255,0.8);
        }
    </style>
}

<section>
    <h2 class="text-center">Product List</h2>

    <p>
        @Html.ActionLink("Create New", "CreateProduct")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProduct", new { id = item.Id }, new {@class = "btn btn-sm btn-warning"}) 
                    @Html.ActionLink("Details", "ProductDetail", new { id = item.Id }, new { @class = "btn btn-sm btn-info" }) 
                    @Html.ActionLink("Delete", "DeleteProduct", new { id = item.Id },new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }

    </table>
</section>